
@mixin flex{
    display: flex;
    justify-content: center;
}
@mixin anchor_style{
  color:black;
  text-decoration: none;
}
@mixin btn{
    background-color: black;
    color:white;
    text-transform: uppercase;
    padding:10px 30px;
    text-align: center;
    height:40px;
    border:none;
    border-radius: 10px;

}
@mixin heading_opacity{
    opacity:0.8;
    text-transform: uppercase;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
 width:100%;
 height:100%;
}

body {
    background-color: rgb(253,251,245);
padding:1rem;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/*
.Content_box{
    width:100%;
    border:1px solid black;
   
    padding:30px;
  

}
svg{
    width:2rem;
    height:2rem ;
}

nav{
   
 @include flex;
gap:30rem;
align-items: center;


 .logo{
    @include flex;
    gap:15px;
   
   
 }
 .anchor_links_box{
    @include flex;
    justify-content: flex-end;
    gap:30px;
  
    .links{
    
        ul{
            @include flex;
            gap:30px;
            li{
               
                list-style: none;
    
                a{
                @include anchor_style;
                }
            }
    
        }
     }
     .ray{
        height:initial;
width:1px ;
        display: flex;
        flex-direction: column;

       background-color: black;

     }
     .second_links{
       
        a{
            
            @include anchor_style;
            border: 1px solid black;
            border-radius: 50%;
            padding:10px;
            font-size: 0.8rem;
            margin-right:10px;
       
    
        }
     }
    }


     
   
 }

 
 hr{
    margin-top:20px;
 }

 */

 .Content_box
 {
    width:100%;
    border:1px solid black;
   
    padding:1.5rem;
  

}
main
{
    width:100%;

    .view_1
    {
        @include flex;
        flex-direction: column;
       row-gap:1.5rem;
        width:100%;

       
        p{
           @include heading_opacity;
        }
        h1
        {
            font-size: 4rem;
            font-weight: 500;
            width:50%;
            
        }
        img
         {
        
        width:100%;
          aspect-ratio: 2/1;
         border-radius: 1rem;
          
        }
    }

    .view_2
    {
       padding-top: 2rem;
        .our_service_1
        {
            @include flex;
            flex-direction: column;
            row-gap: 30px;
            div
            {
                .service_heading
                {
                    @include heading_opacity;
                  
                    }
                    .service_para
                    {
                        font-weight: 500;
                        font-size: 3rem;
                        margin-top:10px;
                    }
                    button
                    {
                        @include btn;
                       
                    }
            }
            
        }
        .line
        {
          
           margin-top:4rem;

            div{
                height:1px;
                width:100%;
                background-color: black;
            }
        }

        .our_service_2
       {
        @include flex;
        flex-direction: column;
        row-gap:20px;
        margin-top:20px;
        
            .services
            {
                
               svg{
                margin-bottom: 10px;
                height: 60px;
                align-self: 1/1;
               }
              .head_service{
                font-size:3rem;
                font-weight: 400;
                opacity:0.8;
                margin-bottom: 10px;

              }


            }
           

        }

      
    }
    .section_end
    {
        margin-top:4rem;
        border:1px solid black;

    } 


    // view_3..........


    .view_3 
    {
        margin-top: 2rem;
        @include flex;
        flex-direction: column;
        gap: 4rem;
        width: 100%;
        margin-bottom: 4rem;
        
    
        .view_3_leftside {
            h2 {
                font-size: 3rem;
                font-weight: 400;
                text-transform: uppercase;
                padding-bottom: 2rem;
            }
            p {
                font-size: 1.5rem;
                opacity: 0.8;
                width: 70%;
            }
        }
    
        .videos_box {
            display: grid;
            grid-template-columns: repeat(1fr);
            gap: 30px;  
            align-items: center;
            justify-content: center;

            width:100%;
        
            .video 
            {
                
        
                video 
                {
                    width: 100%;
                    aspect-ratio: 1.5/1;  // Try setting a fixed height to see if it applies
                    object-fit: cover; 
                    border-radius:20px;
                    padding-top: 1rem;
                    
                }
                .name{
                   
                    font-size: 1.5rem;
                    font-weight: 400;
                }
                .post{
                    padding-top: 1rem;
                    text-transform: uppercase
                }

            }
        }
        .line
        {
          
           margin-top:1rem;

            div{
                height:1px;
                width:100%;
                background-color: black;
            }
        }
        
    }


    //..........view4......

    .view_4
    {
        @include flex;
        flex-direction: column;
        margin-top:2rem;
        gap:2rem;
     
        .view_4leftside
        {
            @include flex;
            flex-direction: column-reverse;
            gap:30px;
           
            p{
                text-transform: uppercase;
                padding-bottom: 1rem;
            }
            h3{
                font-size: 3rem;
                text-transform: uppercase;
                font-weight: 450;
                width:80%;
            }
            svg
            {
                width: 5rem;
                aspect-ratio: 1/1;
            }
        }

        .view_4rightside
        {
            @include flex;
            flex-direction: column;
           order:1;
            gap:4rem;
           
            div
            {
             
                
                p
                {
                    opacity:0.8;
                    font-size: 1.5rem;
                   
                }

            }
            div
            {
                button
                {
                    @include btn;
                    
                }
            }
        }

        .line
        {
            order:2;
            div
            {

                background-color: black;
                height:1px ;
                width:100%;

                
            }
        }
    }
}



footer
{
    border:  2px solid red;
   .footer_left_side
   {
            .logo_2{
                @include flex;
                color:red;
                svg{
                    width:50px;
                    height:50px;
                }
            }
   }
}
    

    

    @media (min-width:1020px) 
    {
       .Content_box
       {
        padding:3rem;
       }
        main
        {
          
            .view_1
            {
                h1{
                    width:100%;
                    font-size: 7rem;
                }
            }
    
            .view_2
            {
                @include flex;
               margin:0;
    
                .our_service_1
                {
                    @include flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .line
                {
                    margin-right:40px;
                     div
                     {
                        height:100%;
                         width:1px;
                         opacity:0.7;
                         background-color: black;
                     }
                 }
            }
    
            //..............view3....
    
            .view_3
            {
                @include flex;
                flex-direction: row;
               
                .videos_box 
                {
                    grid-template-columns: repeat(2,1fr);
                    column-gap:3rem;
                }
                .line
                {
                    margin-right:1rem;
                     div
                     {
                        height:100%;
                         width:1px;
                         opacity:0.7;
                         background-color: black;
                     }
                 }
            }
    
            //.........view_4.........
    
            .view_4
            {
                flex-direction: row;
                margin-top: 4rem;
                
                width:100%;
               height:30rem;
                .view_4leftside
                {
                    flex-direction: column;
                      justify-content: space-between;
                      margin:0;
                }
                .view_4rightside
                {
                    order:2;
                    justify-content: space-between;
                }
                .line
                {
                    div
                    {
                        order:1;
                        width:1px ;
                        height:100%;
                        background-color: black;
                    }
                }
            } 
        }
        
        .main_end_hr
        {
             margin-top:3rem;
            color:black;
            border: 1.5px solid black;
        }
    }


    
